html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  width: 100%;
  overflow: hidden;
}

@media (max-height: 550px) {
  body {
    position: inherit;
  }
}
@media (min-height: 551px) {
  body {
    position: fixed;
  }
}
.first{
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.logo-icon{
  float: left;
  margin-right: 30px;
  background-repeat: round;
}
.header .menu-toggle {
  color: white;
  position: fixed;
  float: right;
  right: 25px;
  z-index: 12;
}

@media (max-width: 767px) {
  .logo-icon {
    background-image: url(assets/images/logo/logo_mobile.png);
    width: 220px;
    height: 60px;
  }
  .menu-toggle {
    display: block;
  }
}
@media (min-width: 767px) {  
  .logo-icon {
    background-image: url(assets/images/logo/logo.png);
    width: 525px;
    height: 49px;
  }
  .menu-toggle {
    display: none;
  }
}

.header .logo-label{
  margin-top: 5px;
}
.modal-wrapper {
  width: auto !important;
  margin: 10px;
}
@media (min-width: 600px) {
  .modal-wrapper {
      margin: 30px auto;
  }
}