html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  width: 100%;
  overflow: hidden;
}
.first{
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.header .logo-icon{
  float: left;
  margin-right: 30px;
}
.header .logo-label{
  margin-top: 5px;
}

@font-face {
  font-family: calibri_bold;
  src: url("./assets/fonts/Calibri_Bold.TTF");
}
@font-face {
  font-family: Artifakt;
  src: url("./assets/fonts/Artifakt.ttf");
}
@font-face {
  font-family: Artifakt_Bold;
  src: url("./assets/fonts/Artifakt_Bold.otf");
}
*{
  font-family: Artifakt_Bold;
}