
.life-lines{
    position: absolute;
    width: 300px;
}
@media (max-width: 767px) {
    .life-lines {
        transform: translateX(-50%);
        left: 50%;
        bottom: 50px;
    }
}
@media (min-width: 767px) {
    .life-lines {
        left: 50px;
        bottom: 70px;
    }
}
.life-lines .title{
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
    /* margin-left: 80px; */
    text-align: center;
    position: relative;
}
.life-lines .life-btn-wrapper{
    border-radius: 48px;
    height: 96px;
    border: 2px solid white;
    background-image: linear-gradient(rgb(5, 109, 156), rgb(3, 79, 114));
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.1), 0 16px 16px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-around;
}
.life-lines .life-btn-wrapper .life-item{
    margin: 12px;
    width: 68px;
    height: 68px;
    color: white;
    font-size: 15px;
    border-radius: 50%;
    background-color: #2A9BCE;
    background-image: linear-gradient(rgb(55, 167, 219), rgb(11, 105, 146));
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.2), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.1), 0 16px 16px rgba(0,0,0,0.05);
    /* font-family: Artifakt; */
    /* padding-top: 16px; */
    text-align: center;
    cursor: pointer;
    border: 2px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.life-lines .life-btn-wrapper .life-item:hover{
    background-color: #99C65C;
    background-image: linear-gradient(#99C65C, #99C65C);
}

.footer .image-wrapper{
    position: absolute;
    bottom: 250px;
    left: 40px;
    width: 300px;
    height: 320px;
    border-radius: 5px;
    border: 2px solid white;
}
.footer .image-wrapper.assist{
    background-color: #55C2BD;
}
.footer .image-wrapper.design{
    background-color: #E7AB47;
}
.footer .image-wrapper .label{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}
.footer .image-wrapper img{
    width: 100%;
}
.footer .image-wrapper .description {
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: white;
    text-align: center;
}