
.life-lines{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.life-lines .title{
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
    margin-left: 80px;
}
.life-lines .life-btn-wrapper{
    border-radius: 48px;
    height: 96px;
    border: 2px solid white;
    background-image: linear-gradient(rgb(5, 109, 156), rgb(3, 79, 114));
}
.life-lines .life-btn-wrapper .life-item{
    margin: 15px;
    width: 68px;
    height: 52px;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    background-color: #2A9BCE;
    background-image: linear-gradient(rgb(55, 167, 219), rgb(11, 105, 146));
    font-family: Artifakt;
    padding-top: 16px;
    float: left;
    text-align: center;
    cursor: pointer;
}
.life-lines .life-btn-wrapper .life-item:hover{
    background-color: #99C65C;
    background-image: linear-gradient(#99C65C, #99C65C);
}

.footer .image-wrapper{
    position: absolute;
    bottom: 250px;
    left: 40px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid white;
}
.footer .image-wrapper.assist{
    background-color: #55C2BD;
}
.footer .image-wrapper.design{
    background-color: #E7AB47;
}
.footer .image-wrapper .label{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: white;
}
.footer .image-wrapper img{
    width: 100%;
}