.over-pan{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s;
}
.over-pan.hide{
    background-color: rgba(0, 0, 0, 0);
}

.over-wrapper{
    width: 100%;
}
.over-wrapper.button_1{
    margin-top: calc(75vh - 50px);
}
.over-wrapper.button_2{
    margin-top: calc(75vh - 100px);
}
.over-wrapper.button_3{
    margin-top: calc(75vh - 150px);
}
.over-wrapper.game-level{
    margin-left: calc(50% - 360px);
}
.over-item .button{
    width: 180px;
    height: 25px;
    margin-left: calc(50% - 100px);
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    font-size: 24px;
    font-weight: 500;
    border: 1px solid black;
    box-shadow: 2px 2px 0 0px black;
}
.over-item .text{
    width: 400px;
    margin-left: calc(50% - 200px);
    font-size: 20px;
    color: white;
}

.over-pan .first-button{
    margin-left: calc(50% - 65px);
    background-color: #FAA728;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid white;
    cursor: pointer;
    margin-top: 60vh;
}
.over-pan .first-button .label{
    width: 100%;
    margin-top: 30px;
    color: white;
    font-family: calibri_bold;
    font-size: 56px;
    text-align: center;
}

.modal-wrapper{
    margin-top: calc(50vh - 200px);
    background-image: linear-gradient(rgba(55, 167, 219, 0.9), rgba(11, 105, 146, 0.9));
    padding: 20px;
    border-radius: 5px;
    border: 2px solid white;
/* 37A7DB */
}
.modal-wrapper.game-menu{
    margin-left: calc(50% - 260px);
    width: 480px;
}
.modal-wrapper .title{
    color: white;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
}
.modal-wrapper .game-menu-item{
    margin: 20px;
    margin-left: calc(50% - 100px);
    height: 44px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid white;
    background-image: linear-gradient(rgb(5, 109, 156), rgb(3, 79, 114));
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}
.modal-wrapper .game-menu-item:hover{
    background-image: linear-gradient(#99C65C, #99C65C);
}
.modal-wrapper .game-menu-item svg{
    position: absolute;
    top: 5px;
    left: 20px;
}
.modal-wrapper .game-menu-item .text{
    position: absolute;
    top: 10px;
    left: 55px;
    width: calc(100% - 60px);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.modal-wrapper.game-level{
    margin-left: calc(50% - 315px);
    width: 600px;
    height: 400px;
}
.modal-wrapper .game-level-item{
    float: left;
    width: 136px;
    height: 180px;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid white;
    background-image: linear-gradient(rgba(55, 167, 219, 0.9), rgb(11, 105, 146, 0.9));
    cursor: pointer;
}
.modal-wrapper .game-level-item:hover{
    background-image: linear-gradient(#99C65C, #99C65C);
}
.modal-wrapper .game-level-item .img{
    width: 100%;
}
.modal-wrapper .game-level-item .img img{
    width: 100%;
}
.modal-wrapper .game-level-item .label{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.modal-wrapper.game-ready{
    width: 300px;
    margin-left: calc(50% - 150px);
    height: 300px;
}
.modal-wrapper.game-ready .start-time{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #FAA728;
    text-align: center;
    font-size: 130px;
    font-weight: 900;
    color: white;
    margin-left: calc(50% - 80px);
}

.modal-wrapper.game-rule{
    width: 400px;
    margin-left: calc(50% - 200px);
}
.modal-wrapper.game-rule .game-rule-item{
    display: none;
    color: white;
    font-size: 20px;
}
.modal-wrapper.game-rule .game-rule-item.show{
    display: block;
}
.modal-wrapper.game-rule .rule-step{
    height: 50px;
    width: 100%;
    position: relative;
}
.modal-wrapper.game-rule .rule-step{
    margin-top: 20px;
    height: 40px;
    width: 100%;
    position: relative;
}
.modal-wrapper.game-rule .rule-step .btn-rule {
    position: absolute;
    top: 0px;
    cursor: pointer;
}
.modal-wrapper.game-rule .rule-step .btn-rule-pre {
    left: 0px;
}
.modal-wrapper.game-rule .rule-step .btn-rule-next {
    right: 0px;
}
.modal-wrapper.game-rule .game-menu-item .text {
    width: 100%;
    left: 0;
}

.modal-wrapper.game-end {
    width: 500px;
    margin-left: calc(50% - 250px);
}
.modal-wrapper.game-end .game-result{
    color: white;

}
.modal-wrapper .game-button{
    position: relative;
    width: 100%;
    height: 100px;
}
.modal-wrapper .game-button .game-menu-item{
    position: absolute;
    text-align: center;
    margin: 0;
    color: white;
    top: 40px;
    padding-top: 10px;
    height: 35px;
}
.modal-wrapper .game-button .game-menu-item.left{
    left: 30px;
}
.modal-wrapper .game-button .game-menu-item.right{
    right: 30px;
}
.modal-wrapper .game-button .game-menu-item.center{
    left: calc(50% - 100px);
}

.modal-wrapper.leader-board{
    width: 500px;
    margin-left: calc(50% - 250px);
    position: relative;
}

.modal-wrapper.leader-board .leader-content{
    padding: 10px;
    width: calc(100% - 25px);
    border-radius: 5px;
    border: 2px solid white;
    background-image: linear-gradient(rgb(5, 109, 156), rgb(3, 79, 114));
}
.modal-wrapper.leader-board .leader-line{
    width: 100%;
    height: 30px;
}
.modal-wrapper.leader-board .leader-line .leader-cell{
    float: left;
    width: 33%;
    text-align: center;
    color: white;
}