
.side{
	position: absolute;
	top: 0;
	right: 100px;
	height: 100%;
	width: 64px;
	font-size: 32px;
	transition: all 0.5s;
}

.side .side-bar{
	margin-top: 50px;
	width: 60px;
	border-radius: 30px;
	border: 2px solid white;
	background-color: rgba(61, 148, 202, 0.8);

}

.side-bar .side-item{
	margin: 15px 7px;
	font-size: 20px;
	width: 46px;
	height: 46px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.5s;
}
.side-bar .side-item .home0{
	transform: translate(-39px, -5px);
}
.side-bar .side-item .home1{
	transform: translate(-51px, -6px);
}
.side-bar .side-item .home2{
	transform: translate(-5px, -6px);
}

.side-bar.side-bar-bottom .side-item svg{
	transform: translate(-6px, -6px);
}
.side .side-item img{
	margin-top: 5px;
	margin-left: 5px;
	width: 30px;
	height: 30px;
}

.side .side-item.active{
	/* border-color: white; */
}
